.markdown-body h1 {
  --at-apply: 'text-3xl font-bold m-b-8';
}

.markdown-body h2 {
  --at-apply: 'text-2xl font-semibold m-y-6';
}

.markdown-body h3 {
  --at-apply: 'text-xl m-y-3';
}

.markdown-body p {
  --at-apply: 'm-y-5   leading-relaxed';
}

.code-wrapper {
  --at-apply: 'p-5 m-y-8! color-white';
  overflow-x: auto !important;
}

.markdown-body table {
  --at-apply: 'w-full border-1 border-solid border-gray-4 dark:border-gray-5';
}

.markdown-body thead,
.markdown-body tbody tr {
  --at-apply: 'border-b-1 border-b-solid border-b-gray-4 dark:border-gray-5';
}

.markdown-body th,
.markdown-body td {
  --at-apply: 'text-left p-3';
}

.markdown-body th:not(:last-of-type),
.markdown-body td:not(:last-of-type) {
  --at-apply: 'border-r-1 border-r-solid border-r-gray-4 dark:border-gray-5';
}
